Repository iamvishnuk/leetcode-insights: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config apps/server/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix, eslint --fix

.lintstagedrc:

{
  "apps/server/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --config apps/server/eslint.config.js --fix"
  ],
  "apps/web/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --config apps/web/eslint.config.js --fix"
  ],
  "packages/**/*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(server): env config
  apps/server/src/config/env.config.ts
  apps/web/next-env.d.ts
  apps/web/package.json
Due: prettier --write, eslint --config apps/server/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

feat: Add Docker image publishing and Lightsail deployment workflows, and integrate typechecking into CI
  .github/workflows/ci.yml
  .github/workflows/deploy-lightsail.yml
  .github/workflows/docker-publish.yml
  apps/server/Dockerfile
  apps/web/Dockerfile
  compose.prod.yaml
  package.json
  turbo.json
Due: prettier --write

fix(web): add fallback to NEXT_PUBLIC_SITE_URL
  apps/web/constants/index.ts
Due: prettier --write, eslint --config apps/web/eslint.config.js --fix

fix(ci): change target path
  .github/workflows/deploy-lightsail.yml
  commitlint.config.ts
Due: prettier --write

fix(ci): add checkout step in deploy
  .github/workflows/deploy-lightsail.yml
Due: prettier --write

build(server): Update server TypeScript configuration to ESNext modules and add tsup for bundling
  .github/workflows/deploy.yml
  apps/server/package.json
  apps/server/src/middleware/error.ts
  apps/server/src/middleware/rate-limit.ts
  apps/server/tsconfig.json
  bun.lock
Due: prettier --write, eslint --config apps/server/eslint.config.js --fix

fix(ci): add build arg
  .github/workflows/docker-publish.yml
  apps/web/components/explorer/api-explorer.tsx
Due: prettier --write, eslint --config apps/web/eslint.config.js --fix

feat(web): add loader on api-explorer
  apps/web/components/explorer/api-explorer.tsx
Due: prettier --write, eslint --config apps/web/eslint.config.js --fix

feat: implement robust LeetCode API error handling, request timeouts, and Zod-based environment validation with unit tests
  .github/workflows/ci.yml
  apps/server/package.json
  apps/server/src/config/env.config.ts
  apps/server/src/lib/leetcode.test.ts
  apps/server/src/lib/leetcode.ts
  apps/server/src/middleware/error.ts
  apps/web/next-env.d.ts
  bun.lock
  package.json
  turbo.json
Due: prettier --write, eslint --config apps/server/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix
